// App Shared Variables
// --------------------------------------------------
// Shared Stylus variables go in the common.variables.styl file
@import 'common.variables'

// Material only Quasar variables overwrites
// -----------------------------------------

$rencontre = rgb(227, 46, 57)
$autre = rgba(94, 75, 153, 1)
$brasserie = rgba(252, 198, 45, 1)
$coworking = rgba(75, 188, 196, 1)
$atelier = rgba(238, 115, 46, 1)
$jardin = rgba(147, 192, 33, 1)
$grisLBF = rgba(92, 92, 92, 1)

$coworkingTransparent = rgba(75, 188, 196, 0.2)

$primary = $coworking
$secondary = $brasserie
$tertiary = $jardin

$positive = $jardin